/* body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 1fr;
}  */

#navbarTogglerDemo01 li a i{
  font-size: large;
}
#navbarTogglerDemo01{
  background:linear-gradient(to right,#82d2ec,#051747); 
  

}
.navbar-toggler-icon{
  border-radius: 1px;
  background-color:orangered;

}
#navbarTogglerDemo01 ul .dropdown-menu{
  background:linear-gradient(to right,#82d2ec,#1b2d5f); 
   
 
  color: white;
}
#link{
  color: white;
  font-family: 'Marcellus SC', serif;

}
#navbarTogglerDemo01 li a{
  font-size:medium;
  font-weight: bolder;
}
#link ul li .active{
  background-color:orangered;
  border-radius: 2px;
  color: white;
  }
  #navbarTogglerDemo01 li{
  padding:0 30px;
}

#home ul li a:nth-child(1):hover,li a:nth-child(2):hover,li a :nth-child(5):hover,li a :nth-child(6):hover{
  color: white;
  border-radius: 2px;

  background-color: orangered;

  transition: all 0.3s ease;
}

/* #load-hide{
     display: none;
} */

html,
body {
  background-color: rgb(241, 214, 241);

}



#home{
color: white;
font-weight: bolder;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: url("Images/sec-.jpg");
 background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.intro{
  justify-content: center;
  align-items: center;
}
.homeAlign{
  display: flex;
  align-items: center;
  justify-content: center;
}
.saveethalogo{
  width: 550px;
      height: 140px;
}
.csofI{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.seclogo{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.coll{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.intro h3,h4,h2,h3{
  text-transform: uppercase;
  font-weight: bold;
  

}
/* .overrallImg{
  background-image: url("Images/overral.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */


#About{
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
 text-align: center;

}
#About h3{
  font-family: 'Marcellus SC', serif;
font-weight: bold;
text-transform: capitalize;
margin: 0 10%;

}
#About p{
  text-align: justify;
  font-weight: 500;
  font-size: large;
  margin: 0 10%;

}
.red{
  width: 100%;
  padding-left: 27px;
  padding-right: 27px;;
}
#aboutConference{
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
 text-align: center;
}
#aboutConference h3{
  font-family: 'Marcellus SC', serif;
font-weight: bold;
text-transform: capitalize;

}
#aboutConference p{
  text-align: justify;
  margin: 0 6%;

  font-weight: 500;
  font-size: large;
}



.col-4 ul{
  list-style-type:square;
  font-size: large;
  margin: 0 10%;
}


#ImpRTables{
background-image: url("Images/overral.jpeg");
background-size: cover; 
background-position: center; 
background-repeat: no-repeat;
background-attachment: fixed;
display: block;
  margin-left: auto;
  margin-right: auto;
 text-align: center;

}
.reg a:hover{
letter-spacing: 1px;
}
.reg a{
font-weight: lighter;  }
#ImpRTables button{
  font-weight: 400;
    font-size: large;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#ImpRTables h3{
  font-family: 'Marcellus SC', serif;
font-weight: bold;
text-transform: capitalize;

}
.tabs{
  font-family:'Poppins',sans-serif;
  display:flex;
  align-items:center;
  flex-direction:column;
  width:100%;
}
.sidebar{
   display:flex;
   align-items:center;
   justify-content:center;
   width:100%;
   
}
.sidebar button{
  margin-right: 3%;
}
.tab-btn{
  border: none;
  border-radius: 4px;
  font-weight: 600;
  background-color: #0e1b4d;
  color: #fff;
  padding: 0.5% 3%;
  font-size: larger;
}
.tab-btn-active{
  border: none;
  border-radius:4px;
  font-weight: 600;
  background-color: #d62525;
  color: #fff;
  padding: 0.5% 3%;

}
.content{
  width:100%;
}
.tab-content{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  text-align:center;

 
  display: none;
}
.tab-content-active{
  display:flex;
  width: 50%;
  justify-content: center;
  align-items: center;

}
.tab-content img{
  width:350px;
}
div.table-title {
  display: block;
 margin: auto;
 max-width: 600px;
 padding:5px;
 width: 100%;
}

.table-title h3 {
  color: #5D001E;
  font-size: 30px;
  font-weight: 400;
  font-style:normal;
  font-family: "Roboto", helvetica, arial, sans-serif;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  text-transform:uppercase;
}



div.table-title {
  display: block;
 margin: auto;
 max-width: 600px;
 padding:5px;
 width: 100%;
}

.table-title h3 {
  color: #5D001E;
  font-size: 30px;
  font-weight: 400;
  font-style:normal;
  font-family: "Roboto", helvetica, arial, sans-serif;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  text-transform:uppercase;
}

.table-fill {
 background: #E3E2D5;
 border-radius:3px;
 border-collapse: collapse;
 height: 320px;
 margin: auto;
 max-width: 600px;
 padding:5px;
 width: 100%;
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
 animation: float 5s infinite;
}

th:first-child {
 border-top-left-radius:3px;
}

th:last-child {
 border-top-right-radius:3px;
 border-right:none;
}
 
tr {
 border-top: 1px solid #C1C3D1;
 border-bottom: 1px solid #C1C3D1;
 color:#666B85;
 font-size:16px;
 font-weight:normal;
 text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
 background:orangered;
 color:#FFFFFF;
 border-top: 1px solid #22262e;
}

tr:first-child {
 border-top:none;
}

tr:last-child {
 border-bottom:none;
}



tr:last-child td:first-child {
 border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
 border-bottom-right-radius:3px;
}

td {
 background:#FFFFFF;
 padding:20px;
 text-align:left;
 vertical-align:middle;
 font-size:larger;
 border-right: 1px solid #C1C3D1;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color: black;

}

td:last-child {
 border-right: 0px;
}

th.text-left {
 text-align: left;
}

th.text-center {
 text-align: center;
}

th.text-right {
 text-align: right;
}

td.text-left {
 text-align: left;
}

td.text-center {
 text-align: center;
}

td.text-right {
 text-align: right;
}



#ChiefGuests{
  background-color: white;
}
#ChiefGuests h3{
  font-family: 'Marcellus SC', serif;
font-weight: bold;
text-transform: capitalize;
margin: 0 10%;

}
#guest1{
  border-radius: .2rem;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.guest1img{
  margin: 0 10px;
display: inline-block;
font-size: medium;
text-align: left;
}
.guest1img p{
text-align: center;
}

#guest1 h2{
font-family: 'Marcellus SC', serif;
font-weight: bold;
color: #051747;


}
.guest1img img {
-webkit-transition: 0.4s ease;
transition: 0.4s ease;
}

.card-container:hover img {
-webkit-transform: scale(1.08);
transform: scale(1.08);
}


#ChiefGuests h4 {
	margin: 10px 0;
  text-transform: none;
  font-size: larger;
  color: orangered;
}



#guest1 p {
	font-size: 14px;
	line-height: 21px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-container {
	background-color: rgb(240, 240, 240);
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	padding-top: 30px;
	position: relative;
	width: 350px;
	max-width: 100%;
	text-align: center;
}


.card-container .round {
	border: 2px solid orangered ;
  	padding: 7px;
}









footer{
  padding: 2% 0 0 0;
  color: white;
}
footer address{
  font-size: 105%;
}
footer p{
  margin: 2% 0 0 0;
  text-align: center;
}
.bi-telephone{
  font-size: 150%;
}
.bi-envelope{
  font-size: 150%;
}
.phone{
  font-size: 170%;
  text-decoration: none;
  text-align: center;
  font-size: 105%;
  color: whitesmoke;
  pointer-events: none;
}
.bi{
  vertical-align: middle;

}
.map iframe{
  width: 100;
  height: 100;
  opacity: 0.5;
}
#location{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.map{
  margin: 0 10px;
  display: inline-block;
  font-size: medium;
  text-align: left;
}
#contactus{
  background-image: url("Images/bgsec.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}










@media screen and (min-width: 411px) and (max-width: 430px){
  .saveethalogo{
    width: 355px;
    height: 80px;
    object-fit: contain;
  }
  #home{
    background-image: url("Images/sec-.jpg");
    background-attachment: fixed;
     background-position: center;
     background-size: cover cover;
     height: 100vh;
     width: 100%;
  }
  #location .map{
    display: inline-block;
    justify-content:center ;
    align-items: center;
    text-align: center;
   }
}
@media screen and (max-width: 576px) {
  #home{
    background-image: url("Images/sec-.jpg");
    background-attachment: fixed;
     background-position: center;
     background-size: cover cover;
     height: 100vh;
     width: 100%;
  }
  .saveethalogo{
    width: 355px;
    height: 80px;
    object-fit: contain;
  }
  #location .map{
    display: inline-block;
    justify-content:center ;
    align-items: center;
    text-align: center;
   }
}
@media screen and (max-width: 768px) {
  .saveethalogo{
    width: 355px;
    height: 80px;
    object-fit: contain;
  }
  .map{
    padding-bottom: 4%;
  }
#location .map{    display: inline-block;
    justify-content:center ;
    align-items: center;
   }
  }

  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition:2.5s all ease;
  }
  
  .reveal.activee{
    transform: translateY(0);
    opacity: 1;
  }
@media screen and (min-width:1200px) and (max-width:1280px) 
{
  .saveethalogo
  {
    margin-top: -40px;
  }
  .csofI
  {
    margin-top: -40px;
  }
  .intro h4
  {
    font-size: 1.3em;
  }
  .intro h3
  {
    font-size: -1.4em;
  }
  .intro h5
  {
    font-size: 1.2em;
  }
  #About p
  {
    font-size: 1em;
  }
  #aboutConference p
  {
    font-size: 1em;
  }
  .col-4 ul
  {
    font-size: 1em;
  }
  #ImpRTables h3
  {
    margin-top: -30px;
  }
}